/Debug/
/Release/
/build/
/SEMIHOST/

# STM32CubeIDE local machine files
.settings/*
.vscode/*
*.launch
.venv/*
platform.json
test/libusb-1.0.29

# Python cache/bytecode
__pycache__/
*.py[cod]
test/*.bin
test/keys